h1 {
    text-align:center 
   }  
   h1.one {
       border-style: groove;
       border-color:white; 
       background-color: #1f6f8b;
       border-width: 20px;
       color: white;
   }
   .iframe-container  {
    text-align:center;
} 

   #NavA:link, #NavA:visited {
   background-color:#1f6f8b;
   color: white;
   padding: 14px 25px;
   text-decoration: none;
   display: inline-block;
   border-style: groove;
   border-color:white; 
   background-color: #1f6f8b;
   border-width: 10px;
   color: white;
   }
   #NavA:hover, #NavA:active {
    background-color: #164153;
   }
      #pp{
        border-color:white;
        border-width: 15px;
        border-style: groove;
        background-color: #1f6f8b;
        color: white;
        width: 15%;
      }
    nav{
        text-align: center;
        display: inline;
    }
    nav li{
      display: inline;
    }
    body {background-color: rgb(68, 68, 68);}

  